.calibre {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  orphans: 2;
  padding-left: 0;
  padding-right: 0;
  widows: 2;
}
.calibre1 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 3em;
  padding-right: 0;
  padding-top: 0;
  widows: 2;
}
.calibre2 {
  color: #4c7aa9;
}
.calibre3 {
  color: #4c7aa9;
  line-height: 1.2;
}
.calibre4 {
  display: block;
}
.calibre5 {
  font-style: italic;
}
.calibre6 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.calibre7 {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: block;
  list-style-type: disc;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  outline: 0;
  padding-bottom: 0;
  padding-left: 1.75em;
  padding-right: 0;
  padding-top: 0;
}
.calibre8 {
  font-weight: bold;
}
.calibre9 {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  outline: 0;
  padding-bottom: 0;
  padding-left: 1.75em;
  padding-right: 0;
  padding-top: 0;
}
.calibre10 {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre11 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
}
.calibre12 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
.calibre13 {
  display: list-item;
}
.calibre14 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.clear {
  clear: both;
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  widows: 2;
}
.contents {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
  widows: 2;
		
}
.contents_parts {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 3em;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 8em;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
  widows: 2;
	
		
}
.next_page {
  color: #4c7aa9;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  page-break-after: avoid;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
}
.sidebar {
  border-bottom-color: #767676;
  border-bottom-style: solid;
  border-bottom-width: 0.25em;
  border-left-color: #767676;
  border-left-style: solid;
  border-left-width: 0.25em;
  border-right-color: #767676;
  border-right-style: solid;
  border-right-width: 0.25em;
  border-top-color: #767676;
  border-top-style: solid;
  border-top-width: 0.25em;
  display: block;
  margin-bottom: 1.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.25em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 0.25em;
  padding-top: 1em;
}
.sup {
  font-size: 0.58333em;
  line-height: 1.2;
  vertical-align: super;
}
.transition {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: medium;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: medium;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: medium;
  color: gray;
  display: block;
  height: 2px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.w {
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
}
.w10r-email {
  display: block;
  float: right;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  widows: 2;
  width: 5%;
}
.w30l {
  clear: left;
  display: block;
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0.2em;
  margin-top: 0;
  max-height: 100%;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  widows: 2;
  width: 15%;
}
.x01-fm-contents-cn {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 0.80em;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 2.5em;
  margin-right: 0;
  margin-top: 1.67em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x01-fm-contents-cn-space {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x01-fm-contents-fm-head {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x01-fm-contents-pn {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x01-fm-contents-pt {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x01-fm-head-contents {
    display: block;
    font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
    font-size: 1.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    orphans: 2;
    page-break-after: avoid;
    text-align: left;
    text-indent: 0;
    widows: 2;
}
.x02-part-number {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.83333em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
  page-break-after: avoid;
  text-align: left;
  text-indent: 0;
  widows: 2;
}
.x02-part-title {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.41em;
  orphans: 2;
  page-break-after: avoid;
  text-align: left;
  text-indent: 0;
  widows: 2;
}
.x03-chapter-number {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.41667em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  orphans: 2;
  page-break-after: avoid;
  text-align: left;
  text-indent: 0;
  widows: 2;
}
.x03-chapter-title {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.83333em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 3.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  orphans: 2;
  page-break-after: avoid;
  text-align: left;
  text-indent: 0;
  widows: 2;
}
.x03-co-body-text {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1.6em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  text-indent: 1.8em;
  widows: 2;
}
.x04-body-text {
    display: block;
    font-family: "Minion Pro", "Georgia", serif;
    font-size: 1.6em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-indent: 1.8em;
    widows: 2;
}
.x04-space-break-orn {
    display: block;
    font-family: "Minion Pro", "Georgia", serif;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: .6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.1em;
    orphans: 2;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0;
    widows: 2;
}
.x04-space-break-orn-pb {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  orphans: 2;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-align: center;
  text-indent: 0;
  widows: 2;
}
.x05-head-a {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.125em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.92em;
  orphans: 2;
  page-break-after: avoid;
  text-align: left;
  text-indent: 0;
  widows: 2;
}
.x05-head-b {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.8em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2.3em;
  orphans: 2;
  page-break-after: avoid;
  text-align: left;
  text-indent: 0;
  widows: 2;
}
.x06-dialogue {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1.3em;
  margin-bottom: 0;
  margin-left: 1.85em;
  margin-right: 1.85em;
  margin-top: 0.82em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x06-dialogue-first {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1.3em;
  margin-bottom: 0;
  margin-left: 1.85em;
  margin-right: 1.85em;
  margin-top: 1.64em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x06-dialogue-last {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1.3em;
  margin-bottom: 1.64em;
  margin-left: 1.85em;
  margin-right: 1.85em;
  margin-top: 0.82em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x06-e-mail {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.1em;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 1.56em;
  margin-top: 0.89em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x06-e-mail-closing {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.1em;
  margin-bottom: 2.56em;
  margin-left: 2em;
  margin-right: 1.56em;
  margin-top: 0.89em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x06-e-mail-closing1 {
    display: block;
    font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
    font-size: 1em;
    margin-bottom: 0.89em;
    margin-left: 3.2em;
    margin-right: 1.56em;
    margin-top: 0;
    orphans: 2;
    text-indent: 0;
    widows: 2;
}
.x06-e-mail-salutation {
    display: block;
    font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
    font-size: 1.1em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 1.56em;
    margin-top: 2.56em;
    orphans: 2;
    text-indent: 0;
    widows: 2;
}
.x06-extract-1p {
  display: block;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1.3em;
  margin-bottom: 1.64em;
  margin-left: 1.85em;
  margin-right: 1.85em;
  margin-top: 1.64em;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x07-list-bulleted {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: list-item;
    font-family: "Minion Pro", "Georgia", serif;
    font-size: 1.3em;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 1.1em;
    margin-right: 0;
    margin-top: 0.41em;
    outline: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: -1.1em;

	font-weight: 
}
.x07-list-bulleted-first {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: list-item;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1.3em;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 1.1em;
  margin-right: 0;
  margin-top: 1.64em;
  outline: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: -1.1em;
}
.x07-list-bulleted-first1 {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  widows: 2;
}
.x07-list-bulleted-last {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: list-item;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1.3em;
  list-style-type: none;
  margin-bottom: 1.64em;
  margin-left: 1.1em;
  margin-right: 0;
  margin-top: 0.41em;
  outline: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: -1.1em;
}
.x07-list-numbered {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: list-item;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1em;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0.72em;
  margin-right: 0;
  margin-top: 0.82em;
  outline: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.x07-list-numbered-first {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: list-item;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1em;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0.72em;
  margin-right: 0;
  margin-top: 1.64em;
  outline: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.x07-list-numbered-last {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: list-item;
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 1em;
  list-style-type: decimal;
  margin-bottom: 1.64em;
  margin-left: 0.72em;
  margin-right: 0;
  margin-top: 0.82em;
  outline: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 0;
}
.x10-sidebar-text-last {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.25em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 2;
  text-indent: 0;
  widows: 2;
}
.x10-sidebar-title {
  display: block;
  font-family: "HelveticaNeueLT Std", "Helvetica", sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: bold;
  margin-bottom: .68em;
  margin-left: 0;
  margin-right: 3%;
  margin-top: 0;
	padding-top: 1.5em;
  orphans: 2;
  page-break-after: avoid;
  text-align: left;
  text-indent: 0;
  widows: 2;
}
